<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_app.user_list') }}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('articles_app.articles_list') }}">Articles</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="navbar-nav ms-auto">
                {% if current_user.is_authenticated %}
                    <a class="nav-link" href="{{ url_for('auth_app.logout') }}">{{ current_user.username }} Logout</a>
                {% else %}
                    {% for (endpoint, label) in [('auth_app.login', 'Login'), ('auth_app.register','Register')] %}
                        <a href="{{ url_for(endpoint) }}"
                           class="nav-link {% if request.endpoint == endpoint -%}active{%- endif %}">
                            {{ label }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</nav>