{% extends 'base.html' %}

{% block title %}
    User #{{ user.id }}
{% endblock %}

{% block body %}
    <h1>User detail:</h1>
    <h2>Usernam: {{ user.username }} </h2>
    <h4>Email: {{ user.email }}</h4>
    {% if user.is_staff %}
        <span class="badge bg-secondary">staff</span>
    {% endif %}
    <br>
{#    <h4>Articles:</h4>#}
{#    {% for articles_id in articles %}#}
{#        {% if articles[articles_id]['author']['name'] == selected_user['last_name'] %}#}
{#            <ul>#}
{#                <li><a href="{{ url_for('articles.get_article', pk=articles_id) }}">#}
{#                    {{ articles[articles_id]['title'] }} | {{ articles[articles_id]['author']['name'] }}</a></li>#}
{#            </ul>#}
{#        {% endif %}#}
{#    {% endfor %}#}

{% endblock %}