{% extends 'base.html' %}

{% block title %}
    Author #{{ author.user.username }}
{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-5">Author detail:</h1>
    <div class="row">
        <div class="col-3">
            <h5>Author:</h5>
            <p>{{ author.user.username }}</p>
            <p>{{ author.user.first_name }}</p>
            <p>{{ author.user.last_name }}</p>
        </div>
    </div>

    {% if articles[0] %}
        <div><h5>Author Articles:</h5>
            {% for article in articles %}
                <ul>
                    <li><a href="{{ url_for('articles_app.details', article_id=article.id) }}">
                        {{ article.title }} | {{ article.dt_created.strftime('%d, %b %Y') }}</a></li>
                </ul>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}